.table_teclado tr td {
    background: green;
    color: #FFF;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 3px;
    font-family: sans-serif;
    border: 1px solid #757575;
    max-width: 10px;
    position: relative;
}

.table_teclado tr td:hover {
    background: #525252;
}

.btn_delete {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 30px;
}